# Control de versiones
.git
.gitignore

# Python
__pycache__
*.py[cod]
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache

# Entornos virtuales
.venv
venv
env

# Archivos de desarrollo
.env
.env.*
*.env

# IDE
.vscode
.idea
*.swp

# Tests
.tests/

# Documentación
docs/
*.md
!README.md

# OS
.DS_Store
Thumbs.db